.Pizza {
  position: relative;
  max-width: 500px;
  height: 500px;
  background: url("../../assets/img/base.png") 0 0 / cover;
}
.Pizza img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.title-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  color: #93322e;
}