.contact-data {
  margin: 2rem auto 0;
  max-width: 600px;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 0 0 10px -5px rgba(0,0,0, .6);
  border-radius: 30px;
  text-align: center;
}
.contact-data__title {
  text-align: center;
  text-transform: uppercase;
}
.contact-data__group {
  margin-bottom: 1rem;
}
.contact-data__input {
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}
